<form action="/new_question">
  <input type="text" placeholder="Name" name="name" /><br>
  <input type="email" placeholder="Email" name="email" /><br>
  <textarea name="question" placeholder="Question"></textarea><br>
  <input type="submit" value="Submit"/>
</form>
